# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular language that Data Scientists use
* Libraries used by data scientist
* Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R programming
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Scikit

| Data Science Tools |
| ------------------ |
| R Studio |
| Apache Hadoop |
| TensorFlow |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
x = 3
y = 4
z = 5
result = (x*y)+z
print(result)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
x = 200
in_hours = x/60
print(in_hours)

3.3333333333333335

## Author
Anil